In [10]:
import pandas as pd
import numpy as np

from platform import python_version

np.__version__, pd.__version__, python_version()

('1.21.2', '1.3.2', '3.8.10')

## mutate example

In [11]:
import pandas as pd

df = pd.DataFrame({
    'name': ['alice','bob','charlie','daniel'],
    'age': [25,66,56,78]
})

df.assign(
    is_senior = lambda dataframe: dataframe['age'].map(lambda age: True if age >= 65 else False) 
)

      name  age  is_senior
0    alice   25      False
1      bob   66       True
2  charlie   56      False
3   daniel   78       True

## chain application

In [14]:
import pandas as pd

df = pd.DataFrame({
    'name': ['alice','bob','charlie','daniel'],
    'age': [25,66,56,78]
})

df.assign(
    is_senior = lambda dataframe: dataframe['age'].map(lambda age: True if age >= 65 else False) 
).assign(
    name_uppercase = lambda dataframe: dataframe['name'].map(lambda name: name.upper()),
).assign(
    name_uppercase_double = lambda dataframe: dataframe['name_uppercase'].map(lambda name: name.upper()+"-"+name.upper())
)

      name  age  is_senior name_uppercase name_uppercase_double
0    alice   25      False          ALICE           ALICE-ALICE
1      bob   66       True            BOB               BOB-BOB
2  charlie   56      False        CHARLIE       CHARLIE-CHARLIE
3   daniel   78       True         DANIEL         DANIEL-DANIEL