In [3]:
import pandas as pd
import numpy as np

from platform import python_version

In [ ]:
np.__version__, pandas.__version__,pyt

In [2]:
import pandas as pd

df = pd.DataFrame({
    'name': ['alice','bob','charlie','daniel'],
    'age': [25,66,56,78]
})

df.assign(
    is_senior = lambda dataframe: dataframe['age'].map(lambda age: True if age >= 65 else False) 
)

      name  age  is_senior
0    alice   25      False
1      bob   66       True
2  charlie   56      False
3   daniel   78       True