In [1]:
from platform import python_version

python_version()

'3.6.9'

In [2]:
import pandas as pd
import numpy as np

pd.__version__, np.__version__

('1.0.5', '1.19.0')

In [4]:
import pandas as pd

df = pd.DataFrame({
    'name': ['alice','bob','charlie','david'],
    'age': [25,26,27,22],
})[['name', 'age']]

# each element of the age column is a string
# so you can call .upper() on it
df['name_uppercase'] = df['name'].apply(lambda element: element.upper())

df

      name  age name_uppercase
0    alice   25          ALICE
1      bob   26            BOB
2  charlie   27        CHARLIE
3    david   22          DAVID