In [18]:
from datetime import datetime, date
import pandas as pd

In [2]:
pd.__version__

'1.0.5'

## inline date elements

In [19]:
from datetime import date
import pandas as pd

df = pd.DataFrame({
    "name":          ["alice",        "bob",            "charlie"],
    "date_of_birth": [date(1999,4,1), date(2001,12,15), date(1985,4,24)] 
})

      name date_of_birth
0    alice    1999-04-01
1      bob    2001-12-15
2  charlie    1985-04-24

## pandas timestamp now

In [3]:
df = pd.DataFrame({
    "name":["alice","bob","charlie", "david"],
    "age":[12,43,22,34]
})
df

      name  age
0    alice   12
1      bob   43
2  charlie   22
3    david   34

In [5]:
df["time"] = pd.Timestamp(datetime.now())
df

      name  age                       time
0    alice   12 2021-06-29 02:10:31.448357
1      bob   43 2021-06-29 02:10:31.448357
2  charlie   22 2021-06-29 02:10:31.448357
3    david   34 2021-06-29 02:10:31.448357

## timestamp to string

In [16]:
df = pd.DataFrame({
    "name":["alice","bob","charlie", "david"],
    "age":[12,43,22,34]
})

df["timestamp_col"] = pd.Timestamp(datetime.now())
df

      name  age              timestamp_col
0    alice   12 2021-06-29 02:14:12.451935
1      bob   43 2021-06-29 02:14:12.451935
2  charlie   22 2021-06-29 02:14:12.451935
3    david   34 2021-06-29 02:14:12.451935

In [17]:
df["formatted_col"] = df["timestamp_col"].map(lambda ts: ts.strftime("%d-%m-%Y"))

df

      name  age              timestamp_col formatted_col
0    alice   12 2021-06-29 02:14:12.451935    29-06-2021
1      bob   43 2021-06-29 02:14:12.451935    29-06-2021
2  charlie   22 2021-06-29 02:14:12.451935    29-06-2021
3    david   34 2021-06-29 02:14:12.451935    29-06-2021