In [29]:
import pandas as pd
import matplotlib
import random
import matplotlib.pyplot as plt
import numpy as np
from dsutil.plotting import *

from faker import Faker
from platform import python_version

pd.set_option("precision", 2)

In [30]:
python_version(), pd.__version__, matplotlib.__version__

('3.8.10', '1.3.2', '3.4.3')

In [49]:
def red_if_na(cell_value):

    style = 'color: red;'
    default = ''

    if pd.isna(cell_value):
        return style
    return default

def bold_if_zero(cell_value):
    highlight = 'font-weight: bold;'
    default = ''
    
    if cell_value == 0:
        return highlight
    return default

## Fill with value

In [45]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'col1': [1.0,   2.0,  3.0,   np.nan, None ],
    'col2': [1,     2,    3,     4,      5    ],
    'col3': ['foo', None, 'baz', 'quux', 'bax']
})

In [53]:
df.style.applymap(red_if_na).applymap(bold_if_zero)

In [52]:
df.fillna(0).style.applymap(is_na).applymap(bold_if_zero)

## Specific column

In [58]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'col1': [1.0,   2.0,  3.0,   np.nan, None ],
    'col2': [1,     2,    3,     4,      5    ],
    'col3': ['foo', None, 'baz', 'quux', 'bax']
})

df.style.applymap(red_if_na).applymap(bold_if_zero)

In [60]:
df.fillna({"col1": "-"}).style.applymap(is_na).applymap(bold_if_zero)

## Specific row

In [128]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'col1': [1.0,   np.nan, 3.0,   np.nan, None ],
    'col2': [1,     2,      3,     4,      5    ],
    'col3': ['foo', None,  'baz', 'quux', 'bax']
})

df.style.applymap(red_if_na)

In [129]:
index_to_fill = 1

df.loc[index_to_fill,df.columns] = df.loc[index_to_fill,:].map(lambda value: '--' if pd.isna(value) else value)

df.style.applymap(red_if_na)

In [102]:
df.index

Int64Index([0, 1, 2, 3, 4], dtype='int64')

## Multiple columns

In [62]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'col1': [1.0,   2.0,  3.0,   np.nan, None ],
    'col2': [1,     2,    3,     4,      5    ],
    'col3': ['foo', None, 'baz', 'quux', 'bax'],
    'col4': ['xxx', None, None,  None,   'xxx'],
})

df.style.applymap(red_if_na)

In [64]:
df.fillna({"col1": 0, "col3": "--"}).style.applymap(is_na)

## Fill inplace

In [65]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'col1': [1.0,   2.0,  3.0,   np.nan, None ],
    'col2': [1,     2,    3,     4,      5    ],
    'col3': ['foo', None, 'baz', 'quux', 'bax']
})

df.style.applymap(red_if_na)

In [66]:
df.fillna(0,inplace=True)

## Fill with another column

In [74]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'col1': [1.0,   2.0,  3.0,   np.nan, None ],
    'col2': [1,     2,    3,     4,      5    ],
    'col3': ['foo', None, 'baz', 'quux', 'bax'],
})

df.style.applymap(red_if_na)

In [75]:
df.fillna({'col1':df['col2']}).style.applymap(red_if_na)

## Fill with another dataframe

In [138]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'col1': [1.0,   2.0,  3.0,   np.nan, None ],
    'col2': ['foo', None, 'baz', 'quux', 'bax'],
})

replacement_df = pd.DataFrame({
    'col1': [0.0,  0.0,  0.0,  0.0,  0.0 ],
    'col2': ['--', '--', '--', '--', '--'],
})

df.style.applymap(red_if_na)

In [139]:
replacement_df

   col1 col2
0   0.0   --
1   0.0   --
2   0.0   --
3   0.0   --
4   0.0   --

In [77]:
df.fillna(replacement_df).style.applymap(red_if_na)

## Fill values matching condtion

In [167]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'col1': [1,  2,  3,  4],
    'col2': [11, 12, 13, 14],
})
df

   col1  col2
0     1    11
1     2    12
2     3    13
3     4    14

In [168]:
df.where(lambda value: value %2 == 0, "ODD")

  col1 col2
0  ODD  ODD
1    2   12
2  ODD  ODD
3    4   14

## Null-like values

In [153]:
import pandas as pd
import numpy as np


df = pd.DataFrame({
    'col1': [np.inf, 2.0,   3.0,  np.nan, None ],
    'col2': [pd.NA,  None, 'baz', pd.NaT, 'bax'],
})

In [151]:
df.style.applymap(red_if_na)

In [155]:
df.fillna("xx")

  col1 col2
0  inf   xx
1  2.0   xx
2  3.0  baz
3   xx   xx
4   xx  bax

## other null-like

In [156]:
import pandas as pd
import numpy as np


df = pd.DataFrame({
    'col1': [np.nan, "-",   3.0,  np.nan, None ],
    'col2': [np.nan, "foo", 'baz', pd.NaT, "-"],
})

In [159]:
df.style.applymap(red_if_na)

In [160]:
df.replace({"-":np.nan}).fillna("XXX")

  col1 col2
0  XXX  XXX
1  XXX  foo
2  3.0  baz
3  XXX  XXX
4  XXX  XXX