In [57]:
import pandas as pd
from platform import python_version

In [58]:
pd.__version__, python_version()

('1.3.2', '3.8.10')

In [ ]:
get_p

In [3]:
!pip install faker

Collecting faker
  Downloading Faker-13.15.1-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 1.4 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.4 in /home/felipe/jekyll-utils/jekyll-venv/lib/python3.8/site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/felipe/jekyll-utils/jekyll-venv/lib/python3.8/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-13.15.1

In [8]:
from faker import Faker
import random
fake = Faker()
def create_rows(num=1):
    output = [{"name":fake.name(),
               "email":fake.email(),
               "bs":fake.bs(),
               "address":fake.address(),
               "city":fake.city(),
               "state":fake.state(),
               "date_time":fake.date_time(),
               "num1": random.randint(1000,2000),
               "num2": random.randint(1000,2000)} for x in range(num)]
    return output

In [52]:
df = pd.DataFrame(create_rows(100000))

In [53]:
df.sample(2)

,name,email,bs,address,city,state,date_time,num1,num2
68953,Lisa Matthews,pfisher@example.com,repurpose plug-and-play infrastructures,"73952 Allison Forge Suite 791\nBennettton, ID ...",Martinville,Oregon,2011-09-28 08:08:08,1941,1679
10529,William Campbell,fdavis@example.org,repurpose back-end communities,"PSC 3467, Box 8961\nAPO AP 16689",South Kendra,Montana,1975-08-26 07:49:26,1593,1368

In [54]:
f"df has {len(df)} rows"

'df has 100000 rows'

In [55]:
%%timeit -r10
for i, row in enumerate(df.iterrows()):
    i

3.23 s ± 40 ms per loop (mean ± std. dev. of 10 runs, 1 loop each)

In [56]:
%%timeit -r10
for i, tpl in enumerate(df.itertuples()):
    i

137 ms ± 704 µs per loop (mean ± std. dev. of 10 runs, 10 loops each)